USE [master]
GO
/****** Object:  Database [Bank Transactions]    Script Date: 4/10/2018 7:46:16 PM ******/
CREATE DATABASE [Bank Transactions]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bank Transactions', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Bank Transactions.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bank Transactions_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Bank Transactions_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bank Transactions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bank Transactions]
GO
USE [Bank Transactions]
GO
/****** Object:  Table [dbo].[Tranactions]    Script Date: 4/10/2018 7:46:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tranactions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[AccountNumber] [int] NOT NULL,
	[AmountChanged] [decimal](18, 2) NOT NULL,
	[NewAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Tranactions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
